<!DOCTYPE html>

<html lang="he">
    <head>

        <title>דוח שעות</title>
        <base href = "/hr/" />
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">        
        <link href='havana.css' rel='stylesheet' />
    </head>    
    <body>
        <div id='USER_NAME' hidden>{USER_NAME}</div>
        <div id='USER_ID' hidden>{USER_ID}</div>
        <div id='USER_THUMBNAIL' hidden>{USER_THUMBNAIL}</div>
        <div id='HOST' hidden>{HOST}</div>
        <div id='root'></div>
        <script>
        //Polyfill for IE 6
        if (!String.prototype.startsWith) {
            Object.defineProperty(String.prototype, 'startsWith', {
                value: function(search, rawPos) {
                    var pos = rawPos > 0 ? rawPos|0 : 0;
                    return this.substring(pos, pos + search.length) === search;
                }
            });
        }            
        </script>
        <script src='bundle.js'></script>
    </body>
</html>