<!DOCTYPE html>

<html lang="he">
    <head>
        <title>מערכת נוכחות</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="IE=11" />        
        <link href='havana.css' rel='stylesheet' />
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    </head>    
    <body>
        <div id='USER_NAME' style="display: none;">{USER_NAME}</div>
        <div id='USER_ACCOUNT_NAME' style="display: none;">{USER_ACCOUNT_NAME}</div>
        <div id='USER_THUMBNAIL' style="display: none;">{USER_THUMBNAIL}</div>
        <div id='HOST' style="display: none;">{HOST}</div>
        <div id='PROTOCOL' style="display: none;">http</div>
        <div id='root'>
            <div class='bar'>
                <div class="circle"></div>
                <p>Performance does Matter</p>
            </div>
        </div>
        <script src='bundle.js'></script>
    </body>
</html>
